<div class="radio-inline">
  <label>
    <input type="radio" name="status" value="READY" ng-model="raceFilter.status">
    Ready
  </label>
</div>
<div class="radio-inline">
  <label>
    <input type="radio" name="status" value="STARTED" ng-model="raceFilter.status">
    Started
  </label>
</div>
<div class="radio-inline">
  <label>
    <input type="radio" name="status" value="FINISHED" ng-model="raceFilter.status">
    Finished
  </label>
</div>
<div ng-repeat="race in races | filter:raceFilter">
  <h4>{{ race.name }} <small>{{ race.status }}</small></h4>
  <a class="btn btn-primary" ng-href="#races/{{ race.id }}">Show race</a>
</div>
