<form name="loginForm" role="form">
  <div class="form-group">
    <label>Login</label>
    <input name="login" type="text" class="form-control" ng-minlength="2" placeholder="Enter login" ng-model="credentials.login" required>
    <div ng-messages="loginForm.login.$error">
      <span ng-message="minlength">Your login should have at least 2 characters</span>
    </div>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input name="password" type="password" class="form-control" placeholder="Password" ng-model="credentials.password" required>
  </div>
  <button ng-click="login(credentials)" class="btn btn-default" ng-disabled="loginForm.$invalid">Login</button>
  <a ng-href="#" class="btn">Cancel</a>
</form>
