<div>

  <div class="jumbotron text-center">
    <h1>Poneyracer</h1>
    <p class="lead">
      <img src="assets/images/poneys.gif" alt="I'm a beautiful poney" style="height: 200px"><br>
      Always a pleasure to bet on poneys.
    </p>
    <p>
      <a ng-hide="isLogged()" class="btn btn-lg btn-success" ng-href="#register">Register!</a>
      <a ng-hide="isLogged()" class="btn btn-lg btn-success" ng-href="#login">Login!</a>
      <a ng-show="isLogged()" class="btn btn-lg btn-success" ng-href="#races">Go to races!</a>
      <a ng-show="isLogged()" class="btn btn-lg btn-danger" ng-click="logout()">Logout!</a>
    </p>
  </div>

  <div class="row">
    <p ng-repeat="user in users">{{user.firstName}}</p>
  </div>

  <hr>

  <div class="footer">
    <p>With ♥ from <a href="https://twitter.com/NinjaSquad">Ninja Squad</a></p>
  </div>

</div>
