.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

.red {
  color: red;
}

input.ng-invalid.ng-dirty {
  border: 3px solid orange;
}

.green {
  border: 3px solid green;
}
// injector
// endinjector
