<h4>{{winner}}</h4>
<h5>{{bet}}</h5>
<div class="row" ng-repeat="position in positions track by position.poney ">
  <div style="transition: all linear 1s" ng-style="{ marginLeft: position.position*4 }"><poney name="{{ position.poney }}" betted="position.poney === race.bettedPoney"></poney></div>
</div>
