<h1>Welcome!</h1>
<form name="registerForm" role="form">
  <div class="form-group">
    <label ng-class="{ red: isInvalidAndDirty(registerForm.firstname) }">Firstname</label>
    <input id="firstname" name="firstname" type="text" class="form-control" placeholder="Enter firstname" ng-model="user.firstName" required>
  </div>
  <div class="form-group">
    <label ng-class="{ red: isInvalidAndDirty(registerForm.lastname) }">Lastname</label>
    <input id="lastname" name="lastname" type="text" class="form-control" placeholder="Enter lastname" ng-model="user.lastName" required>
  </div>
  <div class="form-group">
    <label ng-class="{ red: isInvalidAndDirty(registerForm.birthyear) }">Year of birth</label>
    <input id="birthyear" name="birthyear" type="number" class="form-control" max="{{maxBirthYear()}}" placeholder="Birth year" ng-model="user.birthYear" required>
    <div ng-messages="registerForm.birthyear.$error">
      <span ng-message="max">You should be a grown-up to bet on poneys</span>
    </div>
  </div>
  <div class="form-group">
    <label id="login-label" ng-class="{ red: isInvalidAndDirty(registerForm.login) }">Login</label>
    <input id="login" name="login" type="text" class="form-control" ng-minlength="2" placeholder="Enter login" ng-model="user.login" required>
    <div ng-messages="registerForm.login.$error">
      <span id="login-warning" ng-message="minlength">Your login should have at least 2 characters</span>
    </div>
  </div>
  <div class="form-group">
    <label ng-class="{ red: isInvalidAndDirty(registerForm.email) }">Email address</label>
    <input id="email" name="email" type="email" class="form-control" placeholder="Enter email" ng-model="user.email" required>
    <div ng-messages="registerForm.email.$error">
      <span ng-message="email">You have to enter a valid email so we can spam you</span>
    </div>
  </div>
  <div class="form-group">
    <label ng-class="{ red: isInvalidAndDirty(registerForm.password) }">Password</label>
    <input id="password" name="password" type="password" class="form-control" placeholder="Enter password" ng-model="user.password" required>
  </div>
  <button id="submit" ng-click="register(user)" class="btn btn-default" ng-disabled="registerForm.$invalid">Submit</button>
  <a ng-href="#" class="btn">Cancel</a>
</form>
